{{#with attrs.runner as |r|}}
  <div class="form-group">
    <label>"Titul"</label>
    {{input value=r.title placeholder="Běžec" class="form-control"}}
  </div>

  <div class="form-group">
    <label>Jméno</label>
    {{input value=r.first_name placeholder="Jiří" class="form-control"}}
  </div>

  <div class="form-group">
    <label>Příjmení</label>
    {{input value=r.last_name placeholder="Fabšič" class="form-control"}}
  </div>

  <div class="form-group">
    <label>Avatar (odkaz)</label>
    {{input value=r.avatar placeholder="http://placekitten.com/g/64/64" class="form-control"}}
  </div>

  <div class="form-group">
    <label>Bio <small>(formátováno pomocí <a href="http://daringfireball.net/projects/markdown/syntax">markdown</a>)</small></label>
    {{textarea value=r.bio placeholder="jsem víkendový běžec." class="form-control" rows=10}}
  </div>

  <div class="form-group">
    <label>Facebook</label>
    {{input value=r.facebook placeholder="http:// ..." class="form-control"}}
  </div>

  <div class="form-group">
    <label>Twitter</label>
    {{input value=r.twitter placeholder="http:// ..." class="form-control"}}
  </div>

  <div class="form-group">
    <label>Mail</label>
    {{input value=r.mail placeholder="muj@mail.cz" class="form-control"}}
  </div>

  {{#link-to 'runners' class="btn btn-link"}}
    Zpět
  {{/link-to}}

  <button {{action "saveRunner"}} class="btn btn-primary pull-right">
    {{fa-icon 'floppy-o' spin=isSaving}}
    Uložit
  </button>
{{/with}}
