<div class="row">
  <div class="col-lg-12 text-center">
    <h3>{{label}}</h3>
    {{ember-chart type='Bar' data=graph width=960 height=400}}

{{log chartMode}}
{{log chartData}}
{{log chartOptions}}
    {{high-charts mode=chartMode content=chartData chartOptions=chartOptions theme=theme}}
  </div>
</div>
